:root {
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3971;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;

  --gray-100: #ced4da;
  --gray-200: #adb58d;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;

  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab2d5;
  --light-blue-500: #757fb2;

  --white: #ffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
textarea {
  background-color: var(--light-blue-100);
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  border: none;
}

main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3rem;
  width: 7.5rem;

  margin: 2.5rem 0 0 2.5rem;
}

button {
  width: 20.5rem;
  height: 67px;
  border-radius: 24px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  height: 49rem;
}

.text-box {
  resize: none;
  width: 42.5rem;
  height: 35rem;

  font-size: 2rem;
  font-weight: 400;

  background-color: var(--light-blue-100);
  color: var(--dark-blue-300);
}

.warning-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.encrypt {
  background-color: var(--dark-blue-300);
  color: var(--white);
}

.decrypt {
  background-color: var(--gray-100);
  border-color: var(--dark-blue-300);
  color: var(--dark-blue-300);
}

.decoded-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 25rem;
  height: 55rem;
  padding: 0 1rem 0 1rem;
  border-radius: 32px;

  background-color: var(--white);

  position: relative;
  margin-left: 5rem;
  top: -3rem;
}

.decoded-box > .message-container {
  width: 21rem;
  height: 19rem;
}

.message-image {
  width: 100%;
}

.decoded-box > h2 {
  text-align: center;
  margin-top: 2rem;
  font-weight: 700;
  color: var(--gray-500);
}

.decoded-box > p {
  text-align: center;
  margin-top: 1rem;
  font-weight: 400;
  color: var(--gray-400);
}

.button-container {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.decoded-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 25rem;
  height: 55rem;
  padding: 0 1rem 0 1rem;
  border-radius: 32px;

  font-size: 2rem;
  font-weight: 400;

  background-color: var(--white);

  position: relative;
  margin-left: 5rem;
  top: -3rem;

  resize: none;
}

.disabled {
  display: none;
}
